<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Lease Agreement</title>
</head>
<body>

    <h1 style="text-align:center;">LEASE AGREEMENT</h1>

    <p>
        This lease agreement is made on <strong>2025-02-01</strong> 
        between <strong>Rahul Verma</strong> 
        (Landlord) and <strong>Sarthak Patwa</strong> (Tenant).
    </p>

    <p>
        The property located at <strong>Mekh, Madhya Pradesh</strong> 
        will be rented for a monthly rent of 
        <strong>8000</strong> INR, starting from 
        <strong>2025-03-01</strong> to <strong>2026-03-01</strong>.
    </p>

    <p>
        Tenant’s mobile number is <strong>9876543210</strong> and 
        email is <strong>sarthak@test.com</strong>.
    </p>

    <h3>Terms & Conditions:</h3>
    <ul>
        <li>Security Deposit: <strong>20000</strong> INR</li>
        <li>Late Fee After Due Date: <strong>150</strong> INR</li>
        <li>Maintenance Charges: <strong>500</strong> INR</li>
    </ul>

    <br>
    <h3>Signatures</h3>
    <p>Landlord: __________________________</p>
    <p>Tenant: _____________________________</p>

</body>
</html>
